* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 40px 20px;
  background-color: antiquewhite;
}

.addPeronPopUp h2, .removePersonPopUp h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
}

body h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.list {
  padding: 20px 0px;
  display: block;
  max-width: 550px;
  margin: 0px auto;
}

.single-person {
  position: relative;
  background-color: rgb(250, 243, 233);
  margin: 20px 0px;
  padding: 15px 50px 15px 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgray;
}

.single-person h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  width: 100%;
  line-height: 20px;
}
.single-person h2 span {
  width: 100%;
  display: block;
  color: #484545;
  font-weight: 500;
  text-align: center;
}
.single-person h2 .textLeft {
  display: inline;
}

.addPeronPopUp {
  border-radius: 10px;
  display: none;
  padding: 40px 30px;
  background-color: rgb(182, 226, 211);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.addPeronPopUp h2 {
  text-align: left;
  font-size: 20px;
  letter-spacing: -1px;
}

.addPeronPopUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addPeronPopUp form input {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.addPeronPopUp form  input[type=submit] {
  background-color: aquamarine;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.addPeronPopUp form input[type=submit]:hover {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.addPeronPopUp form .closePopUp {
  display: block;
  background-color: rgb(255, 127, 127);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  border: none;
  right: 0px;
  transform: translateX(50%) translateY(-50%);
  top: 0px;
}
.addPeronPopUp form .closePopUp:hover  {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.closePopUp:hover  {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.btn-s {
  display: block;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPersonBTN {
  margin: 10px 20px;
  background-color: rgb(88 227 58 / 40%);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
  transition: .3s ease;
}

.removePersonBTN {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(255 127 127 / 47%);
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  transition: .3s ease;
  width: 35px;
  height: 30px;
  text-align: center;
}

.editPersonBTN {
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: rgb(127 187 255 / 30%);
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  transition: .3s ease;
  width: 35px;
  height: 30px;
  text-align: center;
}

.editPersonBTN:hover, .removePersonBTN:hover, .addPersonBTN:hover {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}