* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.active-page { 
  display: block !important;
}

.switch-active p {
  transition: .3s ease;
  transform: translateX(0px) !important;
}

body {
  padding: 0px 20px;
  background-color: antiquewhite;
}

section {
  padding-top: 35px;
}

header {
  position: absolute;
  display: block;
  width: 75px;
  height: 180px;
  left: 5px;
}

header .logo {
  display: block;
  max-width: 75px;
  height: auto;
}

header .burger-menu {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

header .burger-menu-content {
  width: 75px;
  height: 100px;
  background-color: #969696;
  border: 1px solid whitesmoke;
  display: none;
  position: absolute;
  right: 0px;
  top: 45px;
  z-index: 100;
  border-radius: 15px;
}

.day-night p {
  padding: 2px;
  background-color: aliceblue;
  border-radius: 50%;
  transform: translateX(-15px) rotateZ(180deg);
  transition: .3s ease;
  width: 20px;
  height: auto;
}

.day-night {
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 35px;
  border: none;
  z-index: 4;
}

.day-night img{
  display: block;
  max-width: 100%;
  height: auto;
}

.day-night::after {
  left: -20px;
  top: -2px;
  display: block;
  content: "";
  background-color: #484545;
  position: absolute;
  z-index: -1;
  height: 26px;
  width: 45px;
  border-radius: 20px;
}

.statistics {
  width: 30px;
  background-color: transparent;
  position: absolute;
  top: 101px;
  left: 35px;
  border: none;
  z-index: 4;
}
.save-day-btn {
  width: 30px;
  background-color: transparent;
  position: absolute;
  top: 132px;
  left: 35px;
  border: none;
  z-index: 4;
}

.statistics p , .save-day-btn p {
  padding: 2px;
  background-color: aliceblue;
  border-radius: 50%;
  transition: .3s ease;
  width: 20px;
  transform: translateX(-15px);
}

.statistics img, .save-day-btn img{
  display: block;
  max-width: 100%;
  height: auto;
}

.statistics::after, .save-day-btn::after {
  left: -20px;
  top: -2px;
  display: block;
  content: "";
  background-color: #484545;
  position: absolute;
  z-index: -1;
  height: 26px;
  width: 45px;
  border-radius: 20px;
}

.fish-gif {
  height: auto;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-49%);
  pointer-events: none;
}

.fish-gif img {
  margin: 0px auto;
  display: none;
  max-width: 91%;
  height: auto;
  pointer-events: none;
}

.addPeronPopUp h2, .removeCatchPopUp h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
}

body h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

body h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

/* Save */

.list {
  padding: 20px 0px;
  display: block;
  max-width: 550px;
  margin: 0px auto;
}

.single-catch {
  position: relative;
  background-color: rgb(250, 243, 233);
  margin: 20px 0px;
  padding: 15px 50px 15px 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px darkgray;
}

.single-catch h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  width: 100%;
  line-height: 20px;
}
.single-catch h2 span {
  width: 100%;
  display: block;
  color: #484545;
  font-weight: 500;
  text-align: center;
}
.single-catch h2 .textLeft {
  display: inline;
}

.addPeronPopUp {
  z-index: 12;
  border-radius: 10px;
  display: none;
  padding: 40px 30px;
  background-color: rgb(182, 226, 211);
  position: absolute;
  z-index: 2222;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.removeCatchPopUp {
  border-radius: 10px;
  display: none;
  padding: 40px 30px;
  background-color: rgb(182, 226, 211);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.removeCatchPopUp .btn-s .btn-1 {
  background-color: rgb(255, 127, 127);
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.removeCatchPopUp .btn-s .btn-2 {
  background-color: rgb(88 227 58 / 40%);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.removeCatchPopUp .btn-s .btn-2:hover, .removeCatchPopUp .btn-s .btn-1:hover {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.addPeronPopUp h2 {
  text-align: left;
  font-size: 20px;
  letter-spacing: -1px;
}

.addPeronPopUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addPeronPopUp form input {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.addPeronPopUp form  input[type=submit] {
  background-color: rgb(88 227 58 / 40%);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
}

.addPeronPopUp form input[type=submit]:hover {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.addPeronPopUp form .closePopUp {
  display: block;
  background-color: rgb(255, 127, 127);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  border: none;
  right: 0px;
  transform: translateX(50%) translateY(-50%);
  top: 0px;
}
.addPeronPopUp form .closePopUp:hover  {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.closePopUp:hover  {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.btn-s {
  display: block;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCatchBTN {
  margin: 10px 20px;
  background-color: rgb(88 227 58 / 40%);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 22px;
  transition: .3s ease;
}

.removeCatchBTN {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgb(255 127 127 / 47%);
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  transition: .3s ease;
  width: 35px;
  height: 30px;
  text-align: center;
}

.editCatchBTN {
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: rgb(127 187 255 / 30%);
  border-radius: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  transition: .3s ease;
  width: 35px;
  height: 30px;
  text-align: center;
}

.editCatchBTN:hover, .removeCatchBTN:hover, .addCatchBTN:hover {
  cursor: pointer;
  transition: .3s ease;
  box-shadow: 0 0 10px gray;
}

.message-text {
  position: relative;
  z-index: 11111;
  width: 80%;
  margin: 0px auto;
}

.message-text .h3text {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0px auto;
  background-color: whitesmoke;
  padding: 30px 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  transition: .3s ease;
  border-radius: 20px;
  color: #484545;
}

.home-page, .statistics-page {
  display: none;
}

.statistics-page .stats-explain{
  width: 70%;
  margin: 20px auto;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  transition: .3s ease;
  border-radius: 20px;
  color: #484545;
}

.statistics-list {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.statistics-list .single-day-of-fishing {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 20px;
  color: black;
  padding: 10px 15px;
}

.statistics-list .single-day-of-fishing .single-date{
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.statistics-list .single-day-of-fishing .single-date span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  background-color: #64cce74f;
  border: 1px solid #64cce7;
  border-radius: 20px;
  color: black;
  padding: 10px 15px;

}

.statistics-list .single-day-of-fishing .single-fish:first-of-type {
  position: relative;
}

.statistics-list .single-day-of-fishing .single-fish:first-of-type img {
  height: auto;
  display: block;
  position: absolute;
  top: -20px;
  left: 80px;
}

.statistics-list .single-day-of-fishing .single-fish h3 {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
}


.statistics-list .single-day-of-fishing .single-fish h3 .single-cacth {
  background-color: #e9b2a054;
  border: 1px solid #e9b2a0;
  border-radius: 20px;
  color: black;
  padding: 10px 15px;
  margin-top: 30px;

}

.statistics-list .single-day-of-fishing .single-fish h3 .single-cacth:first-of-type {
  margin-left: -80px;
}

.statistics-list .single-day-of-fishing .single-fish h3 .single-cacth h2 {
  font-size: 15px;
  text-transform: capitalize;
  text-align: left;
  position: relative;
}

.statistics-list .single-day-of-fishing .single-fish h3 .single-cacth h2::before {
  position: absolute;
  left: -8px;
  top: 8px;
  content: '';
  display: block;
  width: 5px;
  height: 1px;
  background-color: black;
}

.statistics-list .single-day-of-fishing .single-fish h3 .single-cacth h3{
  font-size: 15px;
}

.statistics-list .single-day-of-fishing .single-fish h3 {
  font-size: 18px;
  margin: 10px 0px;
}

.statistics-list .single-day-of-fishing h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-size: 18px;
}